@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

@font-face{
    font-family: DMSerif;
    src: url("../src/assets/fonts/DMSerifDisplay-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --color-forestgreen: #023020;
    --color-maroon: #AD0034;
    --color-salmon: #d9a3a5;
    --color-neutraltan: #FFFAF0;
    --color-brown: #271203;
    --color-sage: #abac5a;
    --color-matcha: #567534;
    --color-lightblue: #bcdfeb;
    --color-seaglass: #A2D9CE;
    --color-almond: #EADDCA;
    --color-chocolate: #472500;
    --font-DMSerif: DMSerif, "sans-serif";
    --font-pollerone: Poller One, "sans-serif";
}